.layers-widget {

  .widget-item-view {
    height: 100%;
    display: flex;
    flex-direction: column;

    .action-button {
      text-align: center;
      background-color: @admin-dark-gray;

      &:hover {
        background-color: @admin-shadow-gray;
      }
    }

    .layers-view {
      max-height: 100%;
      overflow: auto;
      flex-grow: 1;

      .layers-item-view {
        margin: 0px 10px;
        position: relative;

        .layers-item-view-data {
          border: 1px solid @admin-medium-gray-border;
          box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.1);
          padding: 7px 10px 7px 10px;
          cursor: pointer;
          position: relative;

          *:not(:disabled) {
            cursor: pointer;
          }

          &-header {
            display: flex;

            .layer-details {
              flex-grow: 1;

              .layer-language {
                padding-left: 5px;
                color: @admin-font-gray1;
              }
            }

            .content-status-mixin();
          }

          &-body {
            padding: 15px 0px;
          }

          &-footer {
            display: none;

            .action-button {
              padding: 5px 50px;
              max-width: 200px;
            }
          }
        }

        &:first-child {
          .layers-item-view-relation {
            display: none;
          }
        }

        &-expanded .layers-item-view-data {
          &-footer {
            display: flex;
            justify-content: center;
          }
        }

        &.layer-current {
          .layers-item-view-data {
            border: 2px solid @admin-blue;
          }

          .layers-item-view-relation {
            &-arrow {
              display: block;
            }
          }
        }

        &.item-inherited {
          .layers-item-view-data {
            &-body {
              opacity: 0.5;
            }
          }

          &.layer-current {
            .layers-item-view-data-footer {
              .action-button {
                background-color: @admin-button-blue2;

                &:hover {
                  background-color: @admin-button-blue1;
                }
              }
            }
          }
        }

        &:not(.item-inherited) {
          .layers-item-view-relation {
            &-arrow {
              display: block;
            }
          }
        }

        &-relation {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          &-line {
            width: 3px;
            background: @admin-font-gray1;
            height: 10px;
          }

          &-arrow {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid @admin-font-gray1;
            display: none;
          }

          .show-parents-button {
            color: @admin-blue;
          }

          .show-parents-button,
          .has-children-button {
            cursor: pointer;
            position: absolute;
            top: 10px;
            z-index: 1;
            background-color: @admin-white;

            &:hover {
              color: @admin-input-blue;
            }
          }
        }

        &.has-children + .layers-item-view-relation {
          .layers-item-view-relation-line {
            height: 34px;
          }

          .layers-item-view-relation-arrow {
            display: block;
          }

          .has-children-button {
            color: @admin-font-gray2;
            cursor: default;

            &:hover {
              color: @admin-font-gray2;
            }
          }
        }

        &.has-hidden-parents {
          .layers-item-view-relation-line {
            height: 34px;
          }
        }

        &:nth-child(2).has-hidden-parents {
          .show-parents-button {
            top: 0;
          }

          .layers-item-view-relation-line {
            height: 28px;
          }
        }

      }
    }

    .show-all-button {
      position: relative;
      max-width: 250px;
      padding: 8px 70px;
      margin: 20px auto;
    }
  }

}
