.widget-view.internal-widget {

  .version-widget-item-view {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .names-and-icon-view {
      .@{_COMMON_PREFIX}names-view {
        margin: 0;
      }
    }

    .all-content-versions {

      *:not(:disabled) {
        cursor: pointer;
      }

      .content-version-item {
        margin: 10px 5px 5px 7px;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
        border: 2px solid @admin-white;

        &:first-of-type {
          button.compare {
            display: none !important;
          }
        }

        &:hover {
          background-color: @admin-bg-light-gray;
          border-color: @admin-bg-light-gray;
        }

        &:not(.active) .version-info .action-button {
          background-color: @admin-dark-gray;

          &:hover {
            background-color: @form-button-bg;
          }
        }

        &.active {
          background-color: @admin-dark-gray;
          border-color: @admin-dark-gray;

          .viewer .names-and-icon-view .font-icon-default:before {
            background-color: @admin-dark-gray;
          }
        }

        &[class*='deleted'] {
          background-color: @admin-bg-light-gray;
          border-color: @admin-bg-light-gray;

          .status {
            text-decoration-line: line-through;
          }

          .viewer .names-and-icon-view .font-icon-default:before {
            background-color: @admin-bg-light-gray;
          }

          .version-info button {
            display: none;
          }
        }

        &.online {
          background-color: @admin-green;
          border-color: @admin-green;
        }

        &.online_expired {
          background-color: lighten(@admin-green, 35%);
          border-color: lighten(@admin-green, 35%);

          .icon-version-published:before {
            background-color: lighten(@admin-green, 35%) !important;
          }

          .names-and-icon-view {
            color: @admin-bg-dark-gray;
          }
        }

        &[class*='online'] {

          .version-info {
            color: @admin-black;
          }

          .viewer {
            .names-and-icon-view {

              .icon-version-published:before {
                color: @admin-white;
                background-color: @admin-green;
              }
            }

            button.compare {

              top: -25px;

              &:before {
                color: @admin-white;
              }

              &:hover:before {
                color: @admin-font-gray;
              }
            }
          }
        }

        &.online_pending:not(.modified) {
          background-color: @admin-orange;
          border-color: @admin-orange;

          .viewer .names-and-icon-view .font-icon-default:before {
            background-color: @admin-orange;
          }
        }

        .viewer {

          display: flex;
          padding: 7px 7px 7px 10px;
          position: relative;

          .names-and-icon-view {

            flex: 1;

            .font-icon-default {
              &:before {
                font-size: 26px;
                color: @admin-dark-gray;
              }
            }

            .icon-version-published:before {
              color: @admin-green;
            }
          }

          button.compare {
            position: absolute;
            top: 11px;
            right: 7px;
            padding: 0;
            z-index: 1;

            &:before {
              color: @admin-font-gray2;
            }

            &:hover:before {
              color: @admin-font-gray3;
            }

            &:focus {
              border: none;
              outline: none;
            }
          }
        }

        .status {
          line-height: 26px;
          text-align: left;
          padding: 5px 0 0 10px;
          font-size: 14px;
          .ellipsis();
        }

        &:not(:hover) .version-info {
          background-color: @admin-white;
        }

        .version-info {
          padding: 7px;
          font-size: 12px;

          .names-and-icon-view {
            padding: 10px 0;
          }

          .version-info-version-id, .version-info-display-name {
            .ellipsis();
          }

          .version-info-message {
            padding-top: 3px;

            .message {
              border-left: 2px solid @admin-bg-light-gray;
              color: @admin-font-gray2;
              padding-left: 5px;
              margin-left: 20px;
            }
          }

          .names-and-icon-view .font-icon-default:before {
            color: @admin-dark-gray !important;
          }

          .icon-state-in-progress, .icon-state-invalid, .icon-state-ready {
            font-size: 24px;
            margin-left: 9px;
          }

          .label {
            width: 85px;
            float: left;
          }

          button {
            width: 80%;
            text-align: center;
            margin: 10px auto 5px auto;
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;

          }
        }

        &[class*='online']:not(.online_expired), &.active:not([class*='deleted']):not(.online_expired) {
          .status, .viewer .names-and-icon-view *, .viewer .font-icon-default:before {
            color: @admin-white;
          }

          &:hover .version-info {
            background-color: @admin-bg-light-gray;
            border-color: @admin-bg-light-gray;
          }
        }

        &:not(.expanded) {
          .version-info {
            display: none;
          }
        }

        &.expanded {
          &:not(.modified) {
            border-color: @admin-black;
          }

        }

      }

    }

  }

}
