.widget-view.internal-widget {

  .version-widget-item-view {
    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .status {
      color: @admin-white;
      background-color: @admin-dark-gray;
      padding: 10px;
      font-size: 14px;
      .ellipsis();

      &.small {
        font-size: 13px;
      }

      &.offline {
        background-color: @admin-bg-light-gray;
        color: @admin-font-gray2;
      }

      &.deleted {
        text-decoration-line: line-through;
      }

      &.expired {
        background-color: rgba(203, 3, 0, 0.5);
      }

      &.pending {
        background-color: @admin-orange;
      }

      &.online, &.modified, &.deleted {
        background-color: @admin-green;
      }

      &.modified {
        font-style: italic;
      }
    }

    .version-list {

      &-item {
        &.active {
          border-color: @admin-dark-gray;
        }

        .viewer {
          &.version-viewer {
            flex-direction: column;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
            border: 2px solid @admin-white;

            * {
              cursor: pointer;
            }

            &:hover {
              background-color: @admin-bg-light-gray;
              border-color: @admin-bg-light-gray;
            }

            .version-action-button {
              width: 80%;
              text-align: center;
              margin: 17px auto 5px auto;
              padding-top: 5px;
              padding-bottom: 5px;
              display: none;
            }

            button.compare {
              position: absolute;
              top: 11px;
              right: 7px;
              padding: 0;
              z-index: 1;

              &:before {
                color: @admin-font-gray2;
              }

              &:hover:before {
                color: @admin-font-gray3;
              }

              &:focus {
                border: none;
                outline: none;
              }
            }
          }

          &.version-action-viewer {
            flex-direction: column-reverse;

            .publish-message {
              color: @admin-font-gray2;
              margin: 5px 0 0 0;
              font-style: italic;
            }
          }

          display: flex;
          padding: 7px 7px 7px 10px;
          position: relative;
          margin: 10px 0;

          .names-and-icon-view {
            flex: 1;
            display: flex;

            .@{_COMMON_PREFIX}wrapper {
              height: 100%;

              .font-icon-default {
                &:before {
                  font-size: 26px;
                  color: @admin-dark-gray;
                }

                &.icon-version-published::before {
                  color: @admin-green;
                }

                &.icon-version-unpublished::before {
                  font-size: 34px;
                }
              }
            }

            .@{_COMMON_PREFIX}names-view {
              margin: 0;

              .@{_COMMON_PREFIX}main-name {
                height: inherit;
                line-height: inherit;
              }

              &.small .@{_COMMON_PREFIX}main-name {
                font-size: 13px;
              }
            }
          }
        }

        &.expanded .version-viewer .version-action-button {
          display: block;
        }

        .version-info {
          padding: 7px;
          font-size: 12px;

          .names-and-icon-view {
            padding: 10px 0;
          }

          .version-info-version-id, .version-info-display-name {
            .ellipsis();
          }

          .version-info-message {
            padding-top: 3px;

            .message {
              border-left: 2px solid @admin-bg-light-gray;
              color: @admin-font-gray2;
              padding-left: 5px;
              margin-left: 20px;
            }
          }

          .names-and-icon-view .font-icon-default:before {
            color: @admin-dark-gray !important;
          }

          .icon-state-in-progress, .icon-state-invalid, .icon-state-ready {
            font-size: 24px;
            margin-left: 9px;
          }

          .label {
            width: 85px;
            float: left;
          }

          button {
            width: 80%;
            text-align: center;
            margin: 10px auto 5px auto;
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;

          }
        }

        &.expanded {
          .version-viewer {
            border-color: @admin-black;
            &:hover {
              border-color: @admin-black;
            }
          }

        }

      }

    }

  }

}
