.layer-dialog {

  .modal-dialog-header {
    background-color: @admin-font-gray;
  }

  &.layers-list-dialog {
    .modal-dialog-header {
      padding-bottom: 25px;

      .title {
        margin-bottom: 10px;
      }
      .subtitle {
        color: @admin-font-gray3;
      }

      .action-button {
        .icon-new-layer;
        .button(@admin-font-gray3, transparent, @admin-font-gray2);

        position: absolute;
        top: 40px;
        right: 35px;
        height: 40px;
        padding: 0;

        &:before {
          font-size: 38px;
        }
      }
    }

    .modal-dialog-body {
      overflow: auto !important;
      padding-left: 15px;

      .layers-list-items {

        .layers-list-item {
          display: flex;
          padding: 10px 0;

          .layer-viewer {
            flex-grow: 1;
          }

          .edit-button {
            .icon-pencil;
            .button(@admin-black, @admin-white);
            border: none;
            padding: 4px 0 0 0;
            margin-right: 20px;

            &:focus {
              outline-color: @admin-white;
            }

            &:before {
              font-size: 16px;
            }
          }

          .remove-button {
            .icon-close;
            .icon-medium;
            .button(@admin-black, @admin-white);
            border: none;
            padding: 0;
            padding-top: 5px;

            &:disabled {
              opacity: 0.2;
            }

            &:focus {
              outline-color: @admin-white;
            }
          }
        }
      }
    }
  }

  &.layer-create-update-dialog {
    .modal-dialog-header {
      display: flex;
      padding-bottom: 20px;

      .layer-icon-uploader {
        display: flex;
        align-items: center;
        padding: 0px;

        .layer-icon {
          width: 48px;
          height: 48px;

          &:before {
            font-size: 20px;
            line-height: 34px;
          }

          &.flag-icon-unknown {
            height: 34px;

            &:before {
              font-size: 38px;
            }
          }
        }
      }

      .name-and-title {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 10px;

        .title {
          font-size: 14px;
          color: @admin-font-gray3;
          line-height: 25px;
          padding-left: 5px;
        }

        .layer-display-name {
          width: 100%;
          border: none;
          font-size: 24px;
          line-height: 38px;
          padding: 0 5px;

          background-color: @admin-font-gray;

          &:hover {
            border: none;
          }
        }
      }

    }

    .layer-dialog-form {
      .parent-layer, .default-language, .identifier, .icon, .description {
        width: 100%;
      }

      .help-text-toggler {
        bottom: 1px;
      }
    }
  }

  &.layer-update-dialog {
    .modal-dialog-header {

      .title {
        padding-left: 45px;
      }

      .back-button-wrapper {
        display: flex;
        align-items: center;

        .back-button {
          background-color: @admin-font-gray;
          position: relative;
          left: -9px;

          &:before {
            left: 0px;
            top: 0px;
          }

          &:hover:before {
            color: @admin-font-gray3;
          }
        }
      }

      .layer-display-name {
        width: 93%;
      }
    }

    .modal-dialog-body {
      .layer-dialog-form {
        .identifier {
          border: none;
          outline: none;
          box-shadow: none;
        }

        .parent-layer {
          .remove {
            display: none;
          }
        }

        .help-text-toggler {
          display: none;
        }
      }
    }

  }

  &.confirm-delete-dialog {
    .text {
      width: 120px;
    }
  }

  &.layer-confirm-local-content-create-dialog {
    .modal-dialog-header {
      padding-bottom: 15px;

      .title {
        margin-bottom: 10px;
      }
    }
    .modal-dialog-body {
      .locale-viewer {
        margin-top: 10px;
      }
    }
  }
}
