.layer-icon {
  &.flag.flag-icon {

    border: none;

    &:not([data-code]) {

      .icon-layers;

      &::before {
        padding-left: 0;
        background-color: transparent;
        font-size: 32px;
        line-height: 32px;
        color: @admin-dark-gray;
      }
    }
  }

  &.flag-icon[data-code] {
    border: 1px solid @admin-medium-gray-border;
  }

  img {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &.has-thumbnail {
    img {
      display: block;
    }

    background-image: none;

    &.flag-icon[data-code] {
      border: none;
    }

    &:before {
      display: none;
    }
  }
}
