.content-combo-box {
  .grid .slick-row {
    .slick-cell {
      &.status {
        text-align: center;
        font-style: normal;
        font-size: 11px;

        div:not(.online) {
          line-height: 18px;
        }

        .pending_delete {
          font-size: 0.8em;
        }
      }
    }

    &:not(.selected) {
      .slick-cell:not(.selected).status {
        .content-status-mixin();
      }
    }
  }

  .icon-tree {
    position: absolute;
    top: 6px;
    left: 13px;

    .button(@admin-font-gray2, transparent, @admin-font-gray3, transparent, false);

    padding: 0;
  }

  .mode-toggler-button + .option-filter-input {
    padding-left: 50px !important;
  }
}
