.appbar-content {
  padding: 0;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  overflow: visible;

  .home-button {
    display: none;
  }

  .show-issues-button-wrapper {
    width: auto;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    z-index: 1;
    top: @app-header-height / 4;
    height: @app-header-height / 2;
    border-right: 1px solid @admin-font-gray2;
  }

  .project-viewer {
    width: 250px;
    display: flex;

    .viewer-selectable();

    .names-and-icon-view {
      display: flex;
      align-items: center;

      .@{_COMMON_PREFIX}wrapper {
        margin-right: 0;
        padding: 0 10px;

        .font-icon-default::before {
          font-size: 30px;
        }
      }

      .@{_COMMON_PREFIX}names-view {
        margin-left: 0;

        .@{_COMMON_PREFIX}main-name {
          font-size: 16px;
          height: 20px;
          line-height: 20px;

          .name {
            display: none;
          }
        }

        .@{_COMMON_PREFIX}sub-name {
          display: none;
        }
      }
    }

    &.no-project {
      .@{_COMMON_PREFIX}wrapper {
        display: none;
      }
    }
  }
}
