.content-publish-menu {
  margin-left: auto;

  .action-button {
    display: inline-block !important;
  }

  &.transparent {

    .action-button {
      text-align: left;
      padding-left: 12px;
      border-left: 1px solid @admin-bg-light-gray;
      margin-left: 38px;
      display: none !important;
    }

    &.no-item {
      .action-button.create-issue-action-button {
        border-left: none;
        .menu-action-button(@admin-button-blue2);
      }

      .dropdown-toggler(@admin-button-blue2);

      .xp-admin-common-dropdown-handle {
        display: none;
      }
    }

    &.publish {
      .action-button.publish-action-button {
        .menu-action-button(@admin-green);
      }

      .dropdown-toggler(@admin-green);
    }

    &.publish-tree {
      .action-button.publish-tree-action-button {
        .menu-action-button(@admin-green);
      }

      .dropdown-toggler(@admin-green);
    }

    &.unpublish {
      .action-button.unpublish-action-button {
        .menu-action-button(@admin-font-gray2);
      }

      .dropdown-toggler(@admin-font-gray2);
    }

    &.create-issue {
      .action-button.create-issue-action-button {
        .menu-action-button(@admin-button-blue2);
      }

      .dropdown-toggler(@admin-button-blue2);
    }

    .menu {
      right: 0;
    }
  }

  .progress-bar {
    display: none;
  }
}

.menu-action-button(@color) {
  display: inline-block !important;

  @media screen and (max-width: 720px) {
    display: none !important;
  }

  span {
    line-height: @toolbar-height - 1px;
    text-transform: uppercase;
    color: @color;
    font-family: sans-serif, "Open Sans", Helvetica;
  }

  &:not([disabled]):hover {
    span {
      color: darken(@color, 10%);
      color: @color;
    }
  }
}

.dropdown-toggler(@color) {
  .xp-admin-common-dropdown-handle {
    &:after {
      border-top-color: @color;
    }

    &:not([disabled]):hover:after {
      border-top-color: darken(@color, 10%);
    }

    @media screen and (max-width: 720px) {
      position: static;
      display: inline-block;
    }
  }
}
