.DS_Store
build/
target/
.gradle/
node_modules/
modules/app/bin/
modules/lib/bin/
modules/rest/bin/
*.iws
*.ids
*.iml
*.ipr
.idea
npm-debug.log
yarn-error.log
.tscache
.tab
.tmp
generated-java
classes/
out/
.xp/
*.tsbuildinfo
testing/allure-results
.vscode
.enonic
.eslintcache
.bin

