@placeholder-height: 137px;
@placeholder-bg: #e6f1fe;
@placeholder-icon: #d3e0f2;

@region-bg: #fff;
@region-color: #add8e6;

@z-index-cke-shader: 65535;
@z-index-cke-toolbar-close: @z-index-cke-shader - 1;
@z-index-cke-toolbar: @z-index-cke-toolbar-close - 1;
