.project-selection-dialog {

  .project-list-item {
    padding: 10px 0px;
    cursor: pointer;

    &:hover {
      background-color: @admin-almost-white;
    }

    &.selected {
      background-color: #3e77ac;
    }

    .project-viewer {
      .viewer-selectable();
    }
  }

}
