.content-wizard-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
  padding-right: 40px;
  padding-left: 15px;
  height: @toolbar-height;
  line-height: @toolbar-height;

  & > * {
    flex: 0 0 auto;
  }

  .@{_COMMON_PREFIX}button {
    line-height: @toolbar-height;
  }

  .fold-button .@{_COMMON_PREFIX}button {
    line-height: 18px;
  }

  .app-icon-mixin(true, true);
  .home-button {
    margin-right: 10px;

    .app-icon {
      height: @toolbar-height;
    }
  }

  .cycle-button.icon-medium:before {
    font-size: 26px;
    line-height: 30px;
  }

  .toggle-button.icon-medium:before {
    font-size: 24px;
    line-height: 29px;
  }

  .toggle-button, .cycle-button {
    height: 100%;
    float: right;
    padding: 6px 10px 6px 10px;

    &:before {
      position: relative;
      top: 0;
    }
  }

  .layer-viewer {
    height: 100%;
    display: flex;
    align-items: center;
    order: -1;
    border-right: 1px solid #cccccc;
    padding-right: 14px;

    .names-and-icon-view {
      display: flex;
      align-items: center;

      .xp-admin-common-wrapper {
        margin-right: 10px;

        .icon-layers {
          font-size: 28px;
        }
      }

      .xp-admin-common-names-view {
        margin-left: 0px;

        .xp-admin-common-sub-name {
          display: none;
        }
      }

    }

  }

  &.has-layers .content-status-wrapper + button {
    padding-left: 25px;
  }

  .content-status-wrapper {
    display: none; // Is made visible in content-wizard-panel.less
    order: 1;
    margin-left: auto;
  }

  .toolbar-publish-controls {
    display: none;
    order: 2;

    .content-publish-menu {
      .action-button {
        margin-left: 0;
      }
    }
  }

  .toggle-button {
    &.icon-clipboard {
      order: 3;
      height: 42px;
      width: 42px;
    }
    &.icon-cog {
      order: 4;
    }
  }

  .cycle-button {
    order: 5;
  }

  &:not(.live) .toggle-button {
    &.icon-clipboard,
    &.icon-cog:not(.details-toggle) {
      display: none !important;
    }
  }

  .toolbar-state-icon {
    display: none;
    height: 100%;
    width: 20px;
    order: 2;
    padding: 0 10px;

    &:before {
      position: absolute;
      top: 10px;
      font-size: 20px;
    }

    &.invalid, &.ready, &.in-progress {
      display: block;

      + .toggle-button {
        margin-left: auto;
      }
    }

    &.invalid {
      .icon-state-invalid;
    }

    &.ready {
      .icon-state-ready;
    }

    &.in-progress {
      .icon-state-in-progress;
    }
  }

  .content-wizard-toolbar-publish-button {
    border-left: 1px solid @admin-bg-light-gray;
  }

  &.publish-request .toolbar-state-icon.ready::before {
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("../../icons/publish-request-open.svg");
    background-size: contain;
  }

}

@media screen and (min-width: 720px) {
  .content-wizard-toolbar {
    .details-toggle {
      display: none !important;
    }
  }
}

@media screen and (max-width: 720px) {
  .content-wizard-toolbar {
    padding-right: 1px;

    .details-toggle {
      text-align: center;
      padding: 6px;
      min-width: 36px;

      &.active {
        .icon-close();
        &:before {
          color: @admin-font-gray2 !important;
          font-size: 20px;
        }
      }
      order: 20 !important;
      line-height: 27px;
    }

    .icon-clipboard {
      margin-left: auto;
    }


    .toolbar-state-icon {
      margin-left: auto;

      &.invalid, &.ready, &.in-progress {

        + .cycle-button {
          margin-left: 0;
        }
      }
    }

  }
}

