.settings-item-statistics-panel {
  .header {
    display: none;
  }

  .statistic-item-viewer {
    @icon-size: 64px;

    .names-and-icon-view {
      display: flex;

      .@{_COMMON_PREFIX}wrapper {
        width: @icon-size;
        height: @icon-size;
        line-height: @icon-size;

        .font-icon-default {
          font-size: @icon-size;

          .flag.flag-icon {
            width: @icon-size;
            height: @icon-size;

            &::before {
              line-height: @icon-size;
            }
          }

          &::before {
            font-size: @icon-size;
          }
        }
      }

      .@{_COMMON_PREFIX}names-view {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .@{_COMMON_PREFIX}main-name {
          font-size: 34px;
          line-height: 34px;
          height: 34px;
        }

        .@{_COMMON_PREFIX}sub-name {
          font-size: 16px;

          .projects-chain {
            .title {
              display: none;
            }

            .items {
              .item:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  .settings-statistics-view {
    padding: 35px;

    .description {
      padding-top: 10px;

      .text {
        font-size: 16px;
        padding-bottom: 20px;
        .ellipsis();
      }
    }

    .stats-block {
      border-bottom: 1px solid @admin-bg-light-gray;

      .stats-block-header {
        color: @admin-font-gray2;
        margin: 20px 0;
      }

      .stats-columns {
        display: flex;
        flex-wrap: wrap;

        .stats-column {
          padding-bottom: 20px;
          padding-right: 30px;
          flex-basis: calc(25% - 30px);

          .stats-column-header {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .items-list > * {
            margin-bottom: 10px;
          }
        }
      }

      &.roles-stats-block {
        .stats-column.empty {
          display: none;
        }
      }

      &.meta-stats-block {
        .stats-column.empty:last-child {
          display: none;
        }
      }
    }
  }
}
