.content-status-toolbar {
  @mark-size: 20px;

  font-size: 14px;

  &.invalid {
    .content-status-wrapper {
      .invalid-mark {
        display: inline-block;
      }
      .status {
        margin-left: 0 !important;
      }
    }
  }

  .content-status-wrapper {
    .content-status-mixin();
    display: inline-block;

    .invalid-mark {
      width: 44px;
      height: 100%;
      display: none;
      position: relative;
      border-right: 1px solid @admin-bg-light-gray;
      vertical-align: middle;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
        width: @mark-size;
        height: @mark-size;
        line-height: @mark-size;
        border-radius: @mark-size/2;
        font-size: 14px;
        z-index: 1;
        text-align: center;
        content: "!";
        background: @admin-red;
        color: @admin-white;
      }
    }

    .status {
      margin-left: 14px;
    }

    .author {
      margin-left: 5px;
      color: @admin-font-gray1;
    }
  }

}

.content-item-preview-panel.mobile {

  .content-status-toolbar {

    height: 36px;
    line-height: 36px;

    .content-status-wrapper {

      .invalid-mark:before {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
      }

      .status {
        margin-left: 10px;
      }
    }
  }
}
