.content-status-toolbar {

  .content-status-wrapper {
    .content-status-mixin();
    display: inline-block;
    padding-left: 15px;

    .author {
      margin-left: 5px;
      margin-right: 14px;
      color: @admin-font-gray1;
    }
  }

}
