#widget-content {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.widget-content-activity-container {
  height: 100%;
  min-width: 0;
}

.widget-content-stats-container {
  min-width: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}

.widget-content-stats-container .widget-content-stats-section {
  text-align: center;
}

.widget-content-stats-container .widget-content-stats-counter {
  color: #333;
  margin-bottom: 0;
  font-size: 3vw;
  line-height: 30px;
}

.widget-content-stats-container .widget-content-stats-label {
  color: #777;
  font-size: 2vw;
}

@media screen and (min-width: 769px) {
  .widget-content-stats-container .widget-content-stats-section {
    padding: 10px;
  }

  .widget-content-stats-container {
    flex-direction: row;
    margin-top: 0;
  }

  .widget-content-stats-container .widget-content-stats-counter {
    line-height: 40px;
    font-size: 1.7vw;
  }

  .widget-content-stats-container .widget-content-stats-label {
    font-size: 1.2vw;
  }
}

@media screen and (min-width: 1201px) {
  .widget-content-stats-container .widget-content-stats-counter {
    font-size: 1.2vw;
  }

  .widget-content-stats-container .widget-content-stats-label {
    font-size: 0.75vw;
  }
}

