.issues-container {
  display: grid;
  grid-template-columns: auto 20%;
  row-gap: 10px;
  column-gap: 5px;
}

.issues-container .issue {
  overflow: hidden;
}

.issues-container .issue .issue__link {
  text-decoration: none;
  overflow: hidden;
}

.issues-container .issue .issue__link .issue__view {
  display: flex;
}

.issues-container .issue .issue__link .issue__view .issue__iconblock {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.issues-container .issue .issue__link .issue__view .issue__iconblock .issue__img {
  width: 22px;
  height: 22px;
}

.issues-container .issue .issue__link .issue__view .issue__data {
  overflow: hidden;
}

.issues-container .issue .issue__link .issue__view .issue__data .issue__name {
  font-size: 12px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.issues-container .issue .issue__link .issue__view .issue__data .issue__modified {
  font-size: 10px;
  color: #777;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.issues-container .project__name {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
  place-self: center;
}

.issues-container .no-items {
  display: flex;
}
