.recent-container {
  display: grid;
  grid-template-columns: 80% 20%;
  row-gap: 5px;
  column-gap: 5px;
}

.grid-item {
  display: flex;
  align-items: center;
  font-size: 10px;
  height: 31px;
}

.grid-item.content .content__link {
  text-decoration: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.grid-item.content .content__link .content__icon {
  margin-right: 10px;
  height: 22px;
}

.grid-item.content .content__link .content__namepath {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.grid-item.content .content__link .content__namepath .content__name {
  font-size: 12px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.grid-item.content .content__link .content__namepath .content__path {
  font-size: 10px;
  color: #777;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.grid-item.modified {
  font-size: 10px;
  width: 100%;
  justify-content: center;
}

.grid-item.modified .date {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
}

.grid-item.project {
  place-self: center;
  text-align: center;
  width: 100%;
  display: none;
  justify-content: center;
}

.grid-item.project .project__name {
  min-width: 70px;
  font-size: 12px;
}

@media screen and (min-width: 769px) {
  .recent-container {
    grid-template-columns: 60% 20% 20%;
  }

  .grid-item.modified .date {
    white-space: pre;
  }

  .grid-item.project {
    display: flex;
  }
}
