.widget-stats-container {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-column-gap: 20px;
}

.widget-stats-header {
  margin: 0.75em 0 0.75em 0.3em;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}

.widget-stats-container .widget-stats-container-section {
  flex-basis: 50%;
  text-align: center;
}

.widget-stats-container .widget-stats-value {
  color: white;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

.widget-stats-container .widget-stats-label {
  color: #eee;
  font-size: 14px;
}
