#widget-stats .widget-header {
  color: white;
}

.widget-stats-container {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 14px 20px;
  max-width: 360px;
}

.widget-stats-container .widget-stats-container-section {
  text-align: center;
  width: 85px;
  margin: 0 auto;
}

.widget-stats-container .widget-stats-value {
  font-size: 2.5em;
  color: white;
  margin: 0.2em 0;
  height: 35px;
}

.widget-stats-container .widget-stats-label {
  font-size: 1.1em;
  color: #eee;
}
