.layers-item-view-data {
  border: 1px solid @admin-medium-gray-border;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 7px 10px 7px 10px;
  cursor: pointer;
  position: relative;

  *:not(:disabled) {
    cursor: pointer;
  }

  &-header {
    display: flex;

    .layer-details {
      display: flex;
      flex-grow: 1;
      overflow: hidden;

      .layer-name {
        .ellipsis();
      }

      .layer-language {
        padding-left: 5px;
        padding-right: 5px;
        color: @admin-font-gray1;
      }
    }

    .content-status-mixin();
  }

  &-body {
    padding-top: 15px;
    padding-bottom: 5px;
  }

  &-footer {
    display: none;

    .action-button {
      padding: 5px 60px;
      max-width: 200px;
    }
  }

  &.expanded {
    .layers-item-view-data-footer {
      display: flex;
      justify-content: center;
    }
  }

  &.layer-current {
    border: 2px solid @admin-blue;
  }

  &.item-inherited {
    .layers-item-view-data-body {
      opacity: 0.5;
    }

    &.layer-current:not(.readonly) {
      .layers-item-view-data-footer {
        .action-button {
          background-color: @admin-button-blue2;

          &:hover {
            background-color: @admin-button-blue1;
          }
        }
      }
    }
  }

  &:hover {
    background-color: @admin-almost-white;
  }
}
