.appbar-content {

  overflow: visible;

  .project-selector {
    flex-grow: 1;
    max-width: 360px;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: @z-index-mask + 1;

    .selected-project-view {
      height: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;

      .project-viewer {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;

        .names-and-icon-view {
          display: flex;
          align-items: center;

          .xp-admin-common-names-view {
            margin-left: 0px;

            .xp-admin-common-main-name {
              height: 18px;
            }

            .xp-admin-common-sub-name {
              display: none;
            }
          }
        }
      }
    }

    .project-viewer {
      cursor: pointer;

      .names-and-icon-view {
        cursor: pointer;

        .@{_COMMON_PREFIX}main-name {
          color: @admin-white;
          cursor: pointer;

          .name {
            padding-left: 5px;
          }
        }

        .@{_COMMON_PREFIX}sub-name {
          color: @admin-font-gray1;
          cursor: pointer;
        }

        .@{_COMMON_PREFIX}names-view.no-description {
          .@{_COMMON_PREFIX}main-name {
            height: 32px;
            line-height: 32px;
          }

          .@{_COMMON_PREFIX}sub-name {
            display: none;
          }
        }

        .icon-tree-2 {
          color: @admin-white;
        }
      }
    }

    .xp-admin-common-dropdown-handle {
      position: relative;

      &::after {
        border-top-color: @admin-white;
      }
    }

    .projects-list-items {
      position: absolute;
      z-index: 2;
      width: 100%;
      background-color: @admin-bg-dark-gray;
      padding-bottom: 15px;

      .list-header {
        padding: 10px 10px 10px 25px;
        background-color: #242424;

        .main {
          color: @admin-white;
        }

        .sub {
          color: @admin-font-gray1;
        }
      }

      .projects-list-item {
        .edit-button, .remove-button {
          display: none;
        }

        padding: 5px 10px 5px 0px;
        cursor: pointer;

        .project-viewer {
          padding: 5px 10px;
        }

        &:hover {
          background-color: @admin-dark-gray;
        }

        &.selected {
          background-color: #3e77ac;
        }
      }
    }
  }

  .show-issues-button-wrapper {
    width: auto;
  }
}
