{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": true
        },
        "transform": {
            "useDefineForClassFields": false
        },
        "target": "es5",
        "keepClassNames": true,
        "loose": true
    },
    "exclude": [
        ".*\\.d\\.ts$"
    ],
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": true
    },
    "sourceMaps": "inline"
}
