.content-item-preview-toolbar {

  span.content-status {
    margin-left: 14px;
    color: @admin-font-gray1;
    font-size: 13px;

    .content-status-mixin();

    span {
      color: @admin-black;
    }
  }

}
