@font-face {
  font-family: 'icomoon-studio-app';
  src:
    url('fonts/icomoon-studio-app.woff?d2dpl4') format('woff'),
    url('fonts/icomoon-studio-app.ttf?d2dpl4') format('truetype'),
    url('fonts/icomoon-studio-app.svg?d2dpl4#icomoon-release') format('svg');
}

.icon {
  .icon-mixin('icomoon-studio-app');
}

.icon-font-size {
  .icon();

  &::before {
    content: "\ea62";
  }
}

.icon-insert-template {
  .icon();

  &::before {
    content: "\ea73";
  }
}

.icon-layout {
  .icon-insert-template;

  &::before {
    display: inline-block;
    .rotate(90deg);
  }
}

.icon-page-template {
  .icon-insert-template;
}

.icon-fragment {
  .icon-pie();
}

.icon-pie {
  .icon();

  &::before {
    content: "\e1f7";
  }
}
