.html-area-modal-dialog.macro-modal-dialog {
  .dialog-content {
    .selected-item-preview {
      label {
        display: none;
      }
    }

    > .docked-panel {
      display: none;
    }
  }

  &.shows-preview {
    .dialog-content {
      > .form-view .input-view:last-child {
        margin-bottom: 0;
      }

      > .docked-panel {
        display: block;

        .macro-config-panel {
          .form-view {
            padding: 0;

            .input-view {
              margin-bottom: 0;
            }
          }
        }

        .macro-preview-panel {
          .preview-message {
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
            color: @admin-font-gray1;
          }

          .preview-content {
            > * {
              box-sizing: border-box;
            }
          }

          .preview-iframe {
            border-width: 0;
            margin: 0;
            width: 100%;
          }
        }
      }
    }
  }

  .form-view {
    .input-view {
      .content-combo-box {
        .options-container {
          box-sizing: border-box;
        }
      }
    }
  }
}
