.html-area-modal-dialog {
  box-sizing: content-box;

  &.link-modal-dialog {

    .input-view {

      .edit {
        display: block;
      }

      &.invalid {
        .media-uploader-el .upload-button {
          right: 10px;
          top: 10px;
        }
      }

      @media screen and (max-width: 720px) {
        .input-wrapper {
          position: relative;
        }
      }
    }
  }

  &._0-240, &._240-360, &._360-540 {
    &.link-modal-dialog,
    &.search-and-replace-modal-dialog {
      .dialog-content .form-view .input-view {
        .checkbox label::before {
          margin-left: 0;
        }
        .checkbox label {
          padding-left: 22px;
        }
      }
    }
  }

  .image-preview {
    label {
      display: none;
    }
    .input-wrapper {
      margin-left: 0 !important;
    }
  }

  .dialog-content {

    transition: max-height 0.2s;

    .panel {
      position: inherit;

      &.tree-grid {
        position: static;
        overflow: visible;
      }
    }

    .docked-panel {
      box-shadow: none;

      .tab-bar {
        width: 63%;
        border-bottom: none;
      }

      .deck-panel {
        border-top: 1px solid @admin-medium-gray-border;
        padding-top: 10px;
      }

    }

    .checkbox.form-input {
      margin-top: 3px;
    }

    .input-view.invalid:not(:last-child) {
      margin-bottom: 0;
    }

    div.input-view.invalid + div.validation-viewer {
      background-color: @input-light-red;
      padding-bottom: 10px;
      padding-left: @form-label-width;
    }

    .form-view {
      fieldset:not(:last-child) {
        margin-bottom: 5px;
      }
      fieldset:not(:first-child) {
        margin-top: 5px;
      }
    }

  }

  .dialog-buttons {

    &:before {
      position: absolute;
      width: 100%;
      line-height: 34px;

      @media screen and (max-height: 360px) {
        line-height: 70px;
      }
    }

  }

  &.link-modal-dialog,
  &.search-and-replace-modal-dialog {
    input[type="checkbox"] + label {
      padding-left: 130px;
      padding-right: 0;
      box-sizing: border-box;
      .ellipsis();
      &::before {
        position: absolute;
        margin-top: 2px;
        margin-left: 108px;
        left: 0;
      }
    }

    .dialog-content .panel {
      overflow: visible;
    }

    .content-combo-box {
      .loader-combobox {
        width: calc(~'100% - ' 37px);
      }
    }

  }

  &.source-code-modal-dialog {

    .modal-dialog-body {
      overflow: auto;
    }

    textarea {
      min-height: 350px;
      max-height: 350px;
    }
  }

}

.hasSelectedItemPreview() {
  .selected-item-preview {
    label {
      display: none;
    }
    .input-wrapper {
      margin-left: 0 !important;
    }
    .loader-combobox {
      display: none;
    }
  }
}

.showsSelectedOption(@displayIcon:false) {

  .selected-options .selected-option {
    margin: 0;
    width: 100%;
    border: none;
    overflow-y: hidden;

    .@{_COMMON_PREFIX}wrapper {
      display: none;
    }

    .@{_COMMON_PREFIX}wrapper when (@displayIcon = true) {
      display: flex;
    }
  }

  .input-wrapper {
    display: flex;
  }

  .names-and-icon-view .@{_COMMON_PREFIX}names-view {
    margin-left: 0;
  }
}
