.schedulable-dialog {

  &.is-processing {
    .item-list,
    .include-child-check,
    .dialog-buttons button.publish-action,
    .dialog-buttons button.show-schedule-action {
      display: none;
    }
  }

  &.masked {
    opacity: 0;
  }

  .dialog-buttons .button-container {
    .schedule-action,
    .dropdown-dialog-menu button {
      .dialog-button(@bg: @admin-green);
    }
  }

  &.no-action {
    .icon-calendar:not(.active) {
      display: none;
    }
  }

}

