.site-configurator-dialog {

  &.masked {
    opacity: 0;
  }

  .modal-dialog-body {
    overflow: hidden;
    padding-right: 0;
  }

  .form-view {
    max-height: calc(50vh - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 30px !important;
  }
}
