.project-wizard-panel {

  .wizard-step-form {
    &.project-item-wizard-step-form {
      .input-view {
        .form-input {
          &:disabled {
            border: none;
          }
        }
      }

      .project-access-control-form-item {
        align-items: flex-start;

        label {
          margin-top: 10px;
        }
      }
    }

    &.project-read-access-wizard-step-form {
      .radio-group {
        .radio-button {
          margin-bottom: 15px;
        }
      }

      .principal-combobox {

        padding-left: @form-label-width - 10px;

        &.disabled {
          opacity: 0.5;

          .remove {
            display: none;
          }
        }
      }

      .input-view.read-access {
        align-items: flex-start;
        margin-bottom: 0px;
      }

      .principal-combobox {
        margin-left: 133px;
      }

      .locale-selected-option-view {
        display: flex;
        align-items: center;
        padding-top: 0px;

        .@{_COMMON_PREFIX}names-view {
          flex-grow: 1;
        }

        .remove {
          position: static;
        }
      }
    }
  }


  ._0-240 &,
  ._240-360 &,
  ._360-540 &,
  ._540-720 & {

    .wizard-step-form.project-read-access-wizard-step-form {

      .principal-combobox {
        padding-left: 0;
      }
    }
  }
}
