.settings-item-wizard-panel {

  .wizard-header {

    input:first-child:disabled {
      color: @admin-dark-gray;
    }

    input:last-child {
      display: none;
    }
  }

  .header-and-navigator-container {

    .wizard-header {
      margin-top: 35px;
    }

    .@{_COMMON_PREFIX}form-icon {
      &.not-empty {
        &:before {
          display: none;
        }

        .flag-icon {
          display: none;
        }
      }

      &.disabled {
        border: none;
        box-shadow: none;

        &:focus {
          outline: none;
        }
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .wizard-step-form {
    .form-view {

      .input-view {

        label {
          float: none;
        }

        .form-input {
          margin-left: 0;
          width: 100%;

          &.radio-group, &[type="radio"] {
            width: auto;
          }
        }

        .validation-viewer {
          margin-left: 0;
        }

      }
    }
  }


  ._0-240 &,
  ._240-360 &,
  ._360-540 & {

    .header-and-navigator-container {

      .wizard-header {
        margin-top: 20px;
      }
    }
  }

  ._0-240 &,
  ._240-360 &,
  ._360-540 &,
  ._540-720 & {

    .wizard-step-form {

      .form-view {

        .input-view {
          flex-direction: column;
          align-items: flex-start;

          .radio-group {
            margin-top: 10px;
          }


          .error {
            left: 10px;
          }
        }
      }
    }
  }
}
