.image-content-combo-box {
  .grid:not(.tree-mode) {

    .slick-viewport {
      scroll-behavior: smooth;

      .grid-canvas {

        .slick-row.ui-widget-content {
          width: ~"calc(33.3% - 20px)";
          height: 178px;
          position: absolute;
          margin: 10px;
          box-sizing: border-box;
          background-color: #ffffff;
          border: 1px solid #d3d3d3;

          &.active, &:hover {
            background-color: #ffffff;
            .image-selector-active-cell();
          }

          .slick-cell {
            &:hover, &.selected, &.active {
              background-color: transparent;
            }

            &:not(.slick-cell-checkboxsel) {
              height: 100%;
              width: 100%;
              box-sizing: border-box;
              padding: 0;
              position: static;

              .viewer {
                height: 100%;
                width: 100%;

                .names-and-icon-view {
                  overflow: visible;
                  height: 100%;
                  width: 100%;

                  .@{_COMMON_PREFIX}wrapper {
                    float: none;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }

                  .@{_COMMON_PREFIX}names-view {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 8px;
                    background-color: rgba(255, 255, 255, .7);
                    text-align: center;

                    .@{_COMMON_PREFIX}sub-name {
                      display: none;
                    }
                  }
                }
              }

              &:hover, &.selected {
                .viewer {
                  .names-and-icon-view {

                    .@{_COMMON_PREFIX}names-view {
                      display: block;

                      .@{_COMMON_PREFIX}main-name {
                        color: #000;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }

            }

            &.status {
              display: none;
            }
          }

          .slick-cell-checkboxsel {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            padding: 0 3px;
            height: auto;
            min-width: 32px;
            width: 32px;
          }
        }
      }
    }

    &._240-360 {
      .slick-cell {
        &:hover, &.selected {
          .@{_COMMON_PREFIX}names-view {
            padding: 0 !important;

            .@{_COMMON_PREFIX}main-name {
              font-size: 8px !important;
            }
          }
        }
      }
    }

    &._360-540 {
      .slick-cell {
        &:hover, &.selected {
          .@{_COMMON_PREFIX}names-view {
            padding: 0 !important;

            .@{_COMMON_PREFIX}main-name {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }

  &._0-240,
  &._240-360 {
    .image-grid-width(~"calc(100% - 20px)");
  }

  &._360-540 {
    .image-grid-width(~"calc(50% - 20px)");
  }
}

.image-selector-active-cell() {
  border: 1px solid @admin-input-blue;
  box-shadow: 0 0 10px darken(@admin-input-blue, 10%);
  z-index: @z-index-wizard-option;
}

.image-grid-width(@width) {
  .grid:not(.tree-mode) {

    .slick-viewport {
      scroll-behavior: smooth;

      .grid-canvas {

        .slick-row.ui-widget-content {
          width: @width;
        }
      }
    }
  }
}
