.delete-dialog {
  .modal-dialog-wrapper .modal-dialog-footer {
    .dialog-buttons {
      .delete-dialog-menu {
        button {
          .dialog-button(@form-button-font, @input-red-text);
        }

        .@{_COMMON_PREFIX}dropdown-handle {
          margin: 0;
          width: 36px;
          padding: 0;
          height: 100%;
        }
      }
    }
  }

  &.is-processing {

    .item-list, .dependants, .dialog-buttons button.delete-action {
      display: none;
    }

    .load-mask {
      display: none !important;
    }
  }
}
