.@{_CLS_PREFIX}page-view {
  &.empty {
    .@{_CLS_PREFIX}item-view {
      display: none;
    }

    // placeholder should occupy whole page when empty
    & > .@{_CLS_PREFIX}page-placeholder {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .@{_CLS_PREFIX}page-descriptor-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .page-placeholder-info {
        position: relative;

        &:not(.empty) {
          &::before {
            display: block;
            position: absolute;
            color: @placeholder-icon;
            font-size: 105px;
            left: 50%;
            margin-left: -50px;
            margin-top: 65px;
          }
        }

        .page-placeholder-info-line1 {
          font-size: 22px;
          color: @admin-dark-gray;
          margin-bottom: 10px;
        }

        .page-placeholder-info-line2 {
          font-size: 14px;
          color: @admin-font-gray1;
        }
      }
    }
  }

  &.locked {
    .@{_CLS_PREFIX}item-view.empty {
      display: none;
    }
  }

  .html-area-modal-dialog {
    .@{_COMMON_PREFIX}text-input {
      color: inherit;
      font-size: 12px;
    }

    .input-wrapper .checkbox.form-input {
      margin-top: 0;
    }
  }

  &.text-edit-mode {
    .cke-toolbar-container > .cke_chrome {
      border: none;
    }
  }

  &::before {
    display: none;
  }

  .@{_CLS_PREFIX}page-descriptor-dropdown {
    margin-top: 53px;
  }

  .fnr-panel {
    position: fixed !important;
    top: 0px !important;
  }
}
