.publish-dialog {

  .base-publish-dialog();

  .modal-dialog-header {

    .publish-dialog-sub-title {
      margin-top: 6px;

      a {
        font-size: 14px;
        text-decoration: none;
        line-height: 30px; // equal to the height of the input to prevent wiggle on switch
      }

      input {
        background-color: @admin-bg-light-gray;
        border: none;
      }

      &.custom-message {
        a {
          color: @admin-font-gray2;
          pointer-events: none;
        }
      }
    }
  }

  .modal-dialog-body {
    padding-top: 15px;
  }

  &.is-processing {
    .publish-schedule-form {
      display: none;
    }
  }
}

.@{_COMMON_PREFIX}modal-dialog {
  &._0-240, &._240-360 {
    &.publish-dialog .include-child-check {
      left: 16px;
    }
  }
}
