.issue-list-dialog {

  .dialog-buttons {
    display: none;
  }

  &.show-footer .dialog-buttons {
    display: block;
  }

  .modal-dialog-header,
  &.grey-header .modal-dialog-header {
    padding-bottom: 0;
  }

  .modal-dialog-header {
    .tab-bar {
      display: flex;
      margin: 10px 0 0;
      background-color: transparent;
      border: none;

      .tab-bar-item {
        flex: 1;
      }
    }
  }

  .docked-panel {
    width: auto;
    box-shadow: none;
    position: inherit !important;
    background-color: transparent;
  }

  .panel {
    position: inherit;
    overflow: initial;
  }

  .issues-panel {

    &.no-issues .on-off-button,
    &.no-filter .row-selector {
        display: none;
    }

    .filters {
      margin-bottom: 20px;
      padding: 0 5px;
      display: flex;

      .checkbox {
        padding: 8px 5px 8px 0;

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      .my-issues-filter {
        margin-right: 20px;
      }
    }

    .issue-list {
      overflow: auto;
      min-height: 30px;

      .issue-list-item {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        margin: 1px; // for outline to be displayed correctly
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: @admin-bg-light-gray;
        }

        .names-and-icon-view {
          cursor: pointer;

          .icon-issue, .icon-publish-request {
            font-size: 26px;
            line-height: 32px;
          }

          .@{_COMMON_PREFIX}names-view .@{_COMMON_PREFIX}main-name, .@{_COMMON_PREFIX}sub-name {
            &:hover {
              cursor: pointer;
            }
          }

          .@{_COMMON_PREFIX}main-name {
            height: 18px;
            line-height: 18px;
            color: @admin-black;
            font-family: @admin-font-family;
          }
        }

        .status {
          min-width: 50px;
          padding: 2px 20px 3px;
          text-transform: capitalize;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          color: white;
          border-radius: 8px;
          margin-right: 5px;

          &.open {
            background-color: @admin-green;
          }
          &.closed {
            background-color: @admin-font-gray2;
          }
        }

        .assignees-line {
          display: flex;

          .principal-viewer-compact {
            position: relative;
            top: 3px;

            &:last-child {
              margin-left: 18px;
            }
          }
        }

        .all-assignees-tooltip {
          font-size: 16px;
          align-self: flex-end;
          padding-bottom: 5px;
          margin-left: 5px;
        }
      }
    }

    .no-issues-message {
      padding: 26px 0;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.25);
      line-height: 30px;
      text-align: center;
      .ellipsis();
    }

    .creator, .assignee {
      color: @admin-black;
      font-weight: bold;
    }
  }

  &.masked {
    opacity: 0;
  }

  @media screen and (max-width: 480px) {
    .filters {
      flex-wrap: wrap;
      max-width: 200px;
    }
  }
}
