.publish-schedule-form {

  margin: 10px 0;

  .form-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .schedule-note {
      width: 100%;
      display: block;
      margin: 0 25px 0 0;
      background-color: @form-button-bg;
      padding: 10px 20px;
      color: @admin-white;
    }

    .form-view {
      flex: 1;
      padding: 15px 0 !important;
    }

    a.remove-button {
      .icon-close();
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      margin-left: 8px;
    }
  }
}
