.publish-schedule-form {
  background-color: @admin-bg-light-gray;

  .form-wrapper {
    margin-bottom: 15px;
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;

    .form-view {
      flex: 1;
      padding: 0 !important;

      .input-view {
        padding: 10px;

        .label {
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 14px;
          overflow: visible;
        }

        .help-text-toggler {
          float: none;
          display: inline-block;
          margin-left: 10px;
        }
      }
    }

    a.remove-button {
      .icon-close();
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}
