.publish-dialog-issues {

  &.has-issues {
    padding-bottom: 5px;

    & + .publish-schedule-form {
      display: none;
    }
  }

  h6 {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .not-publishable {
    line-height: 16px;
  }

  h6.state-line {
    display: flex;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    span {
      padding-left: 7px;
    }

    .part1 {
      font-weight: bold;
    }

    .state-icon {
      display: inline-block;
      &:before {
        display: block;
        font-size: 16px;
      }
    }

    button {
      background: none;
      padding: 0 4px;

      span {
        color: @admin-button-blue2;
      }

      &:hover {
        background: none;

        span {
          color: @admin-button-blue1;
        }
      }
    }
  }

  .invalid {
    .icon-state-invalid;
  }

  .in-progress {
    .icon-state-in-progress;
  }

  .load-failed, .invalid, .not-publishable {
    color: @admin-red;
  }
}
