.request-publish-dialog {

  .base-publish-dialog();

  .modal-dialog-header {

    .icon-publish-request {
      font-size: 26px;
      line-height: 36px;
      float: left;
      margin-right: 15px;
    }

    .sub-title {
      margin: 10px 0 0 43px;
    }
  }

  .dialog-buttons {
    .button-container {
      flex-direction: row-reverse;
      justify-content: space-between;

      .dialog-button.prev {
        margin: 0;
        background-color: @form-button-bg;
      }

      .dropdown-dialog-menu button {
        .dialog-button(@bg: @admin-button-blue2);
      }
    }
  }
}

.@{_COMMON_PREFIX}modal-dialog {
  &._0-240, &._240-360 {
    &.request-publish-dialog .include-child-check {
      left: 16px;
    }
  }
}
