.settings-browse-item-panel {
  .settings-item-statistics-panel {
    .header {
      padding: 35px;
      margin: 0;

      img {
        width: auto;
        height: auto;
        max-width: 150px;
        max-height: 150px;
      }

      .font-icon-default {
        margin-right: 20px;
        float: left;

        &:before {
          font-size: 100px;
        }
      }

      .title {
        margin-top: 4px;
        margin-bottom: 4px;
      }

      .path .parent-path {
        color: @admin-font-gray1;
      }
    }
  }
}
