name: Gradle Build

on:
    push:
    repository_dispatch:
        types: [ lib-admin-ui ]

concurrency: build-${{ github.ref }}

jobs:
    publish_vars:
        runs-on: ubuntu-latest

        outputs:
            publish: ${{ steps.publish_vars.outputs.release != 'true' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/3.')) }}
            repo: ${{ steps.publish_vars.outputs.repo }}

        steps:

            -   uses: actions/checkout@v2

            -   name: Get publishing variables
                id: publish_vars
                uses: enonic/release-tools/publish-vars@master
                env:
                    PROPERTIES_PATH: './gradle.properties'

    build:
        runs-on: ubuntu-latest

        needs: publish_vars

        steps:
            -   uses: actions/checkout@v2

            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    java-version: 11
                    distribution: 'adopt'

            -   uses: actions/cache@v2
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                    restore-keys: |
                        ${{ runner.os }}-gradle-

            -   name: Build with Gradle
                run: ./gradlew build -Pcom.enonic.xp.app.production=true

            -   name: Run Base Selenium Tests
                run: ./gradlew :testing:baseContentStudioTests

            -   uses: actions/upload-artifact@v2
                if: always()
                with:
                    name: ui-test-report
                    path: |
                       testing/mochawesome-report/*
                       testing/build/screenshots/*

            -   uses: codecov/codecov-action@v2.0.2

            -   name: Publish
                if: needs.publish_vars.outputs.publish == 'true'
                run: ./gradlew publish -Pcom.enonic.xp.app.production=true -PrepoKey=${{ needs.publish_vars.outputs.repo }} -PrepoUser=${{ secrets.ARTIFACTORY_USERNAME }} -PrepoPassword=${{ secrets.ARTIFACTORY_PASSWORD }}
