name: Selenium Test

on:
    schedule:
        - cron:  '0 11,23 * * *'

jobs:
    selenium-test:
        continue-on-error: true
        strategy:
            fail-fast: false
            matrix:
                suite: [testContentStudioApp, testContentStudioProjects]
                branch: ['master','3.3']

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
                with:
                    ref: 'refs/heads/${{ matrix.branch }}'

            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    java-version: 11
                    distribution: 'adopt'

            -   name: Run Selenium Tests
                run: ./gradlew :contentstudio:build :testing:${{ matrix.suite }} :testing:publish

            -   uses: actions/upload-artifact@v2
                with:
                    if: always()
                    name: 'ui-test-report-${{ matrix.branch }}-${{ matrix.suite }}'
                    path: |
                        testing/mochawesome-report/
                        testing/build/screenshots/
