.content-browse-item-panel {

  &.no-selection {

    .no-selection-container {
      display: none;
    }

    .content-item-preview-toolbar {
      display: none;
    }

    .content-item-statistics-panel {

      display: block !important;

      .wrapper {

        iframe,
        img,
        .no-preview-message {
          display: none !important;
        }
        .no-selection-message {
          display: flex;

          span {
            margin-top: @toolbar-height;
          }
        }
      }
    }
  }
}
